body{
    background-color: #e6dbd5;
    font-family:'Courier New', Courier, monospace
}

/*フォーム*/
.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #fffdfb;
    border-radius: 10px;
    padding:20px 0 20px 0 ;
    color: #5e3016;
}

.form_container hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.align_content{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 30px 0;
}

.align_content a{
    width: 40%;
    text-align: center;
}

.item{
    width: 50%;
    cursor: pointer;
}

.radio {
    width: 60%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.radio input{
    margin-bottom: 8px;
}

#up_btn{
    background-color: #e4caa8;
    border: none;
    border-radius: 15px;
    width: 80%;
    min-width: 400px;
    cursor: pointer;
    padding:10px 0 ;
}



/*ファイル一覧*/
.sort-select {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

#sort-select {
    font-size: large;
    border: none;
    background: none;
    border-bottom: solid 1px #5e3016;
    color: #5e3016;
}


.list{
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eea574;
    color: white;
    text-decoration: none; 
    border-radius: 5px;    
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #ffa24b; 
}

.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c2bbb4;
    text-decoration: none; 
    border-radius: 5px;   
    border: none;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #f39191; 
}

/*メニュー*/
.nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    top: 5px;
    right: 5px;
    width: 50px;  
    height: 50px; 
    /*background-color: #b9d3c0; */
    border-radius: 10px;
    z-index: 3;
    overflow: hidden; 
    
    transition: 
        width 0.3s ease-in-out, 
        height 0.3s ease-in-out,
        background-color 0.3s;
}

.nav-container.open {
    width: 50vw; 
    max-width: 300px;
    height: 90vh; 
    background-color: #cfa38cef;
    
}

.menu_icon {
    position: absolute;
    width: 30px;       
    height: 40px;
    top: 7px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    z-index: 2;
    transition: 
    height 0.3s ease-in-out,
    width 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out, 
    visibility 0.3s;
  }


.menu_content {
    margin-top: 60px; 
    width: 100%;
    opacity: 0; 
    transition: opacity 0.2s; 
    margin-left: 10px;
}

.menu_content li{
    width: 85%;
    list-style:none;
    font-size: large;
    margin-bottom: 25px;
    border-bottom: solid 1px#4b371e;
}
  
.menu_content li a {
color: #4b371e; 
text-decoration: none; 
}

.nav-container.open .menu_content {
    opacity: 1;
    transition-delay: 0.1s; 
}

.line {
    width: 30px;
    height: 1px;
    background-color: #644d32;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 2px;
}

.nav-container.open .line:nth-child(1) {
    transform: translateY(18px) rotate(45deg); 
  }
  .nav-container.open .line:nth-child(2) {
    opacity: 0;
  }
  .nav-container.open .line:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
  }
