body{
    background-color: #cfe4de;
    font-family:'Courier New', Courier, monospace
}


.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    background-color: #f6fffc;
    border-radius: 10px;
    padding:20px 0 20px 0 ;
    color: rgb(85, 68, 68);
}

.up_form{
    margin-left: auto;
    margin-right: auto;
}

.up_btn{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#up_btn{
    background-color: #a8e4d3;
    border: none;
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    padding:10px 0 10px 0 ;
}


.upload_text{
    width: 100%;
    margin-top: 10%;
    text-align: center;
}

.list{
    width: 80%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}


.nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    top: 5px;
    right: 5px;
    width: 50px;  
    height: 50px; 
    background-color: #b9d3c0; 
    border-radius: 10px;
    z-index: 3;
    overflow: hidden; 
    
    transition: 
        width 0.3s ease-in-out, 
        height 0.3s ease-in-out,
        background-color 0.3s;
}

.nav-container.open {
    width: 30vw; 
    max-width: 300px;
    height: 90vh; 
    background-color: #b9d3c0; 
}

.menu_icon {
    position: absolute;
    width: 30px;       
    height: 40px;
    top: 7px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    z-index: 2;
    transition: 
    height 0.3s ease-in-out,
    width 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out, 
    visibility 0.3s;
  }


.menu_content {
    margin-top: 60px; 
    width: 100%;
    opacity: 0; 
    transition: opacity 0.2s; 
    margin-left: 10px;
}

.menu_content li{
    list-style:none;
    padding-bottom: 10px;
    font-size: large;
    padding-bottom: 15px;
}
  
.menu_content li a {
color: #4b371e; 
text-decoration: none; 
}

.nav-container.open .menu_content {
    opacity: 1;
    transition-delay: 0.1s; 
}

.line {
    width: 30px;
    height: 1px;
    background-color: #644d32;
    transition: transform 0.3s, opacity 0.3s;
    border-radius: 2px;
}

.nav-container.open .line:nth-child(1) {
    transform: translateY(18px) rotate(45deg); 
  }
  .nav-container.open .line:nth-child(2) {
    opacity: 0;
  }
  .nav-container.open .line:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
  }
